{% extends 'layout.html' %}

{% block links %}
{% endblock links %}

{% block content %}
<div>
    <form action="" method='POST'>
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.title.label(class="form-control-label h5") }}
                {{ form.title(class="form-control form-control-lg") }}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <br><span class="red-msg">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.desc.label(class="form-control-label h5") }}
                {{ form.desc(class="form-control form-control-lg") }}
                {% if form.desc.errors %}
                    {% for error in form.desc.errors %}
                        <br><span class="red-msg">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <br>
        <div>
            {{ form.submit(class="btn btn-info btn-lg") }}
        </div>
    </form>
</div>
{% endblock content %}